<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenCV.UWP.native.core" version="0.0.2-alpha" targetFramework="Native" />
  <package id="OpenCV.UWP.native.imgcodecs" version="0.0.2-alpha" targetFramework="Native" />
  <package id="OpenCV.UWP.native.imgproc" version="0.0.2-alpha" targetFramework="Native" />
</packages>